button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.btn-primary {
  background-color: #283618;
  color: #fff;
}
